<!-- views/section/header.ejs -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-cogs"></i> Data Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Inventory Parser
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/tyrparser">Tyr Parser</a>
            <a class="dropdown-item" href="/stanceparser">Stance Parser</a>
            <a class="dropdown-item" href="/sauconyparser">Saucony Parser</a>
            <a class="dropdown-item" href="/inovparser">Inov8 Parser</a>
            <a class="dropdown-item" href="/batesparser">Bates Parser</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Invoice Parser
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/smokymountainparser">Smoky Mountain Invoice Parser</a>
            <a class="dropdown-item" href="/api/sperryInvoiceParser">Sperry Invoice Invoice Parser</a>
            <a class="dropdown-item" href="/rockyparser">Rocky Invoice Parser</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Order Confirmation Parser
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/api/sperryOcParser">Sperry OC Parser</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/downloads" role="button" aria-haspopup="true" aria-expanded="false">Download</a>
        </li>
      </ul>

    </div>
  </div>
</nav>