<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./section/head %>
</head>
<body>
    <header>
      <% include ./section/header %>  
    </header>
    
    <section id="header" class="jumbotron jumbotron-fluid container text-center mt-3">
      <h1 class="display-4"><i class="fas fa-cogs"></i> <%= title %></h1>
      <p class="lead">Please feel free to use Parser and Data Tools
      <hr class="my-4">
      <p>If you need automation tools, please submit a ticket in the Reqest Page</p>
      <a href="" class="btn btn-primary btn-large"><i class="fas fa-toolbox"></i> Request Here!</a>
    </section>
    <h1>Danilo Lodi</h1>
    <footer>
      <% include ./section/footer %>
    </footer>
</body>
</html>
